*{
    background-color: rosybrown;
    
}
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: blue;
}

p {
    font-size: 18px;
}

button {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

img.imagen{
    border-radius: 10%;
}
